* {
    margin: 0;
    padding: 0;
}

.col,
.col-2,
.col-3 {
    color: white;
    background-color: #65A2AA;
    padding: 10px;
}

.row {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;

}